.u-section-1 .u-sheet-1 {min-height: 711px}
.u-section-1 .u-text-1 {animation-duration: 1500ms; margin: 10px 673px 0 8px}
.u-section-1 .u-text-2 {animation-duration: 1500ms; margin: 11px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-right: 481px; margin-left: 7px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 268px; margin-left: 5px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-right: 93px; margin-left: 4px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-right: 0; margin-left: 3px} }